body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Rubik', sans-serif
}

.top-background {
    margin: 20px;
    padding: 20px;
}

.paragraph {
    margin-bottom: 80px;
}

.button {
    text-decoration: none;
    background-color: brown;
    padding: 15px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgb(243, 163, 163);
}

.flexibal-area {
    display: flex;
}

.width-half {
    width: 50%;
}

.width-half img {
    width: 100%;
}

h1 {
    font-size: 60px;
}

.top-head {
    margin-left: 10px;
}

.about-sect {
    margin-top: 200px;
}

.about-background {
    background-image: url(img/Bacground-fram.jpg);
    background-repeat: none;
}

.about-image {
    vertical-align: bottom;
}

.headline {
    margin-top: 50px;
}

.recipies-text {
    text-align: center;
    margin: 200px 30% 100px;
}

.recipies-photo {
    margin: 100px 100px;
    box-shadow: 0px 2px 10px rgb(61, 60, 60);
    padding: 20px;
    border-radius: 20px;
}

.haro-border {
    box-shadow: 0px 2px 10px rgb(61, 60, 60);
    margin: 10%;
    border-radius: 20px;
}

.all-subscribers {
    margin: 20px 100px 20px;
    text-align: center;
}

.footer-background {
    padding: 20px;
    background-color: black;
    text-align: center;
}